.hero {
  height: fit-content;
  overflow: hidden;

  @include breakpoint(medium) {
    height: 400px;
  }

  @include breakpoint(large) {
    height: calc(100vh - 80px);
  }
}

.afcultima {
  background-color: $white;

  &__thumbnail {
    // background-color: $light-grey;

    img {
      object-fit: cover;
      position: center center;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    p {
      margin-bottom: 1rem;
      color: $green;
    }

    ul {
      counter-reset: section;
      color: $dark-green;
      font-weight: 500;

      li {
        position: relative;
        padding-left: 50px;
        margin-bottom: 2rem;

        &::before {
          position: absolute;
          counter-increment: section;
          content: counter(section);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 30px;
          height: 30px;
          background-color: $yellow;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

.products {
  position: relative;
  color: $green;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }

  &::before {
    background-image: url("./../img/scientist.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }

  &::after {
    background-color: $white;
    opacity: 0.8;
  }

  &__header {
    text-align: center;
    position: relative;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 1;

    &__product {
      figure {
        height: 200px;

        img {
          height: 100%;
        }
      }

      p {
        text-align: center;
      }
    }
  }
}

.banner {
  background-color: $grey;
  width: 100%;

  h1,
  h2,
  h3 {
    color: $white;
    font-weight: 600;
    text-align: center;

    @include breakpoint(small) {
      text-align: left;
    }
  }

  h3 {
    font-family: $font-product;
  }

  &--sop100 {
    height: 550px;
    background: url("./../img/banner1-bg.jpg");
    background-size: cover;
    position: relative;

    h1,
    h2,
    h3,
    h4 {
      @include breakpoint(small) {
        text-align: center;
      }
      @include breakpoint(medium) {
        text-align: left;
      }
    }

    .model {
      position: absolute;
      right: 50%;
      transform: translateX(50%);
      bottom: 0;

      height: 300px;

      @include breakpoint(medium) {
        height: 400px;
        right: 30px;
        transform: translateX(0);
      }

      @include breakpoint(large) {
        height: 450px;
        right: 100px;
      }

      img {
        height: 100%;
      }
    }

    .product {
      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translateX(100%);

      height: 100px;

      @include breakpoint(medium) {
        transform: translateX(0);
        height: 150px;
        right: 20px;
      }

      @include breakpoint(large) {
        right: 30px;
      }

      img {
        height: 100%;
      }
    }
  }

  &--utsukushhii {
    height: 500px;
    background: url("./../img/utsukushhii-banner.jpg");
    background-position: bottom left;
    background-size: cover;

    @include breakpoint(large) {
      height: 600px;
    }
  }

  &--join {
    background: url("./../img/join-bg.jpg") no-repeat center;
    background-size: cover;
    h2 {
      font-weight: normal;
    }
  }
}

.doctor {
  position: relative;
  color: $green;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }

  &::before {
    background-image: url("./../img/doctor.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }

  &::after {
    background-color: $white;
    opacity: 0.8;
  }

  &__testimonial {
    position: relative;
    z-index: 1;

    h2,
    h3,
    h4,
    p {
      text-align: center;
    }
  }

  &__thumbnail {
    position: relative;
    z-index: 1;

    .row > div {
      figure {
        background-color: $blue;
        width: 100%;
        height: 120px;
      }
    }
  }
}

.client {
  color: $green;
  background-image: url("./../img/recommend.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-color: #bcc9da;

  @include breakpoint(small) {
    background-position: -400px;
  }

  @include breakpoint(medium) {
    background-position: -280px;
  }

  @include breakpoint(large) {
    background-position: right;
  }

  @include breakpoint(extralarge) {
    background-position: -200px;
  }
  &__testimonial {
    h2,
    h3,
    h4,
    p {
      text-align: center;
    }
  }
}

.news {
  color: $green;
  &__header {
    text-align: center;
  }

  &__content {
    &__item {
      position: relative;
      height: 200px;
      figure {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        background-color: $green;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &:hover {
        cursor: pointer;
        header {
          min-height: 100%;
        }
      }

      header {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: $dark-green, $alpha: 0.9);
        min-height: 50px;
        transition: all 0.3s ease-in-out;

        h4 {
          color: $light-grey;
        }
      }
    }
  }
}

.footer {
  background-color: $dark-green;

  p,
  a {
    color: grey;
    font-size: 14px;
  }

  h4 {
    color: $light-grey;
  }

  figure,
  h4 {
    height: 40px;
  }
  &__copyright {
    height: 60px;
    background-color: $green;

    p {
      color: $light-grey !important;
    }
  }
}
