.product {
  color: $green;

  &--intro {
    &__thumbnail {
      img {
        width: 100%;
      }
    }

    &__content {
      &.utsukushhii {
        h3 {
          color: $purple;
        }
      }

      h4 {
        color: $blue;
      }

      h3 {
        color: $green;
      }

      p:not(last-of-child) {
        margin-bottom: 1rem;
      }
    }

    &__benefit {
      color: $green;

      &.utsukushhii {
        color: $grey;
        h3 {
          color: $purple;
        }
      }
      h3 {
        text-align: center;
      }

      &__point {
        position: relative;
        counter-reset: section;

        &.utsukushhii {
          h4::before {
            background-color: $purple;
            color: $white;
          }
        }
        h4 {
          padding-left: 5rem;
          margin-bottom: 1rem;

          &::before {
            counter-increment: section;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            content: counter(section);
            width: 30px;
            height: 30px;
            background-color: $yellow;
            left: 30px;
          }
        }
      }
    }
  }

  &--cta {
    background-color: $water-blue;

    &.utsukushhii {
      background-color: $purple;

      .btn {
        color: $purple !important;
      }
    }

    h2 {
      color: $white;
      text-align: center;
    }
  }

  &--about-banner {
    background: url("./../img/salmon.jpg") no-repeat right;
    background-size: cover;
    background-position: center center;
    color: $green;

    &.utsukushhii {
      color: $white;
      background-size: cover !important;
      background-position: center center !important;
      background: url("./../img/utsukushhii-banner2.jpg") no-repeat right;
    }

    p:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &--about {
    &.utsukushhii {
      color: $purple;
    }
    color: $green;
    &__header {
      text-align: center;
    }

    &__content {
      &__thumbnail {
        img {
          width: 90%;

          @include breakpoint(medium) {
            width: 350px;
          }
        }
      }

      &__points {
        &:first-of-type {
          text-align: right;
        }

        img {
          width: 120px;

          @include breakpoint(medium) {
            width: 100%;
          }
        }
      }
    }
  }

  &--about-2 {
    color: $white;
    background: url("./../img/research-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center center;

    &.utsukushhii {
      background-size: cover !important;
      background-position: center center !important;
      background: url("./../img/salmon-dna.jpg") no-repeat;
    }
    & h4 {
      color: $green;
    }

    &__points {
      counter-reset: section;
      h4 {
        position: relative;
        padding-left: 60px;

        &:before {
          display: flex;
          justify-content: center;
          align-items: center;
          counter-increment: section;
          position: absolute;
          content: counter(section);
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          background-color: $yellow;
        }
      }
    }
  }

  &--patent {
    color: $green;
    text-align: center;

    &.utsukushhii {
      color: $purple;
      p {
        color: $grey !important;
      }
      .product--patent__content__item {
        border-radius: 0;
        background-color: unset;
        img {
          width: 120px;
          border-radius: 50%;

          @include breakpoint(medium) {
            width: 200px;
          }
        }
      }
    }

    &__header {
      text-align: center;
    }
    &__content {
      &__item {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: $light-blue;

        img {
          width: 80px;
        }

        @include breakpoint(medium) {
          width: 200px;
          height: 200px;

          img {
            width: 110px;
          }
        }
      }

      h3,
      p {
        text-align: center;
      }
    }
  }

  &--benefit {
    color: $blue;
    background-color: $light-blue;

    &.utsukushhii {
      color: $white;
      background-color: $purple;
    }

    &__content {
      &__item {
        background-color: $white;
        width: 100%;
        height: 150px;
        padding: 10px;
        border: 2px solid $blue;

        &.utsukushhii {
          overflow: hidden;
          background-color: unset;
          border: 0;
          height: auto;
          text-align: center;
          img {
            object-fit: cover;
            width: 300px;
            height: auto;
          }
        }

        h4 {
          text-align: center;
          margin-top: auto;
        }
      }
    }
  }

  &--anti-aging {
    h2,
    h3 {
      text-align: center;

      @include breakpoint(medium) {
        text-align: left;
      }
    }
    color: $green;
    img {
      width: 100%;

      @include breakpoint(medium) {
        width: 200px;
      }

      @include breakpoint(large) {
        width: 250px;
      }
    }
  }

  &--why {
    color: $green;
    background: url("./../img/banner-sop.jpg") no-repeat;
    background-size: cover;
    background-position: center center;

    h2 {
      text-align: center;

      @include breakpoint(medium) {
        text-align: left;
      }
    }
    &__content__list {
      counter-reset: section;

      p {
        position: relative;
        padding-left: 20px;
        &::before {
          position: absolute;
          left: 0;
          counter-increment: section;
          content: counter(section) ".";
        }
      }
    }
  }

  &--testimonial {
    color: $green;
    text-align: center;

    &.utsukushhii {
      color: $purple;
    }

    &__content {
      &__item {
        height: 100%;
        background-color: $light-blue;

        &.utsukushhii {
          background-color: $light-purple;
          color: $white;
        }

        &__photo {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }

  &--banner {
    background: url("./../img/sop-banner-2.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    color: $white;
    text-align: center;
    height: 300px;

    &.utsukushhii {
      background: url("./../img/utsukushhii-banner5.jpg") no-repeat;
      background-size: cover;
      background-position: right;

      .btn {
        color: $purple !important;
      }
    }
    @include breakpoint(medium) {
      height: 450px;
      text-align: right;
    }
  }
}
