.nav {
  &--main {
    width: 500px;

    @include breakpoint(medium) {
      width: 550px;
    }
    a {
      color: $grey;

      &:hover {
        color: $light-grey;
      }

      &.active {
        color: $yellow;
      }
    }
  }

  &--footer {
    li {
      margin-bottom: 6px !important;
    }
    a {
      color: $grey;

      &:hover {
        color: $light-grey;
      }
    }
  }
}
