.nav {
  &--main {
    width: 500px;

    @include breakpoint(medium) {
      width: 550px;
    }

    @include breakpoint(large) {
      width: 600px;
    }

    & > ul > li {
      position: relative;

      &:hover > ul {
        display: block;
      }

      a {
        padding: 10px;
        color: $light-grey;
        height: 100%;

        &:hover {
          color: $white;
        }

        &.active {
          color: $yellow;
        }
      }

      ul {
        display: none;
        background-color: $green;
        position: absolute;
        z-index: +1;
        top: 25px;
        left: 0;
        transition: all 0.3s ease-in-out;

        li {
          display: flex;

          &:hover {
            background-color: $dark-green;
          }

          a {
            padding: 10px;
            width: 100%;
            color: $white;
            height: 100%;
          }
        }
      }
    }
  }

  &--mobile {
    background-color: $green;
    height: 100vh;

    & > ul {
      height: 80%;
      width: 100%;

      li {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;

        a {
          padding: 15px;
          flex: 1;
          font-size: 20px;
          font-weight: 600;
          color: $light-grey;

          &.active {
            color: $yellow;
          }
        }
      }
    }
  }

  &--footer {
    li {
      margin-bottom: 6px !important;
    }
    a {
      color: $grey;

      &:hover {
        color: $light-grey;
      }
    }
  }
}

.mobile-menu {
  overflow: hidden;
  position: absolute;
  right: 100%;
  left: -100%;
  top: 0;
  height: 100vh;
  z-index: 99;
  transition: all 0.3s ease-in-out;

  &.show {
    right: 0;
    left: 0;
  }
}
