h1,
h2,
h3,
h4 {
  font-family: $font-header;
}

p {
  font-size: 14px;
  line-height: 1.5;

  @include breakpoint(medium) {
    font-size: 16px;
  }

  @include breakpoint(large) {
    font-size: 18px;
  }

  &.small {
    font-size: 12px;

    @include breakpoint(medium) {
      font-size: 14px;
    }

    @include breakpoint(large) {
      font-size: 16px;
    }
  }
}

h1 {
  font-size: 36px;
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: 40;
  }

  @include breakpoint(large) {
    font-size: 48px;
  }
}

h2 {
  font-size: 30px;
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: 36px;
  }

  @include breakpoint(large) {
    font-size: 40px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: 28px;
  }

  @include breakpoint(large) {
    font-size: 30px;
  }
}

h4 {
  font-size: 16px;
  line-height: 1.2;

  @include breakpoint(medium) {
    font-size: 18px;
  }

  @include breakpoint(large) {
    font-size: 20px;
  }
}
